torch>=2.0
transformers>=4.26
peft>=0.3
sentence-transformers>=2.2
requests
pyyaml
fire
rich
discord.py>=2.3.0
pydantic
aiohttp
python-dotenv
huggingface-hub
accelerate
sentence-transformers
sortedcontainers
asgiref
aioitertools
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc